@import "mixins";

.row {
    display: flex;
    justify-content: center;
    max-width: 100rem;
    margin: 0 auto;


    [class^="col-"] {
        flex: 0 0 auto;

        &:not(:last-child) {
            margin-right: 6rem;
        }

    }

    .col-1-of-2 {
        width: calc((100% - 6rem) / 2);
    }
}