@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin mainContainer {
    flex: 1;
    max-width: 80rem;
    min-height: 50rem;
    margin: 3.5em auto;
    position: relative;
    overflow: hidden;
}