<main class="main-content">
	<ul class="timeline timeline-centered">
		<li class="timeline-item period period-top">
			<div class="timeline-info"></div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h2 class="timeline-title">1992</h2>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-info">
				<span>October 29, 1992</span>
			</div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h3 class="timeline-title">Bron in Xi'an, China</h3>
			</div>
		</li>
		<li class="timeline-item period">
			<div class="timeline-info"></div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h2 class="timeline-title">2015</h2>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-info">
				<span>May 28, 2015</span>
			</div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h3 class="timeline-title">Bye, Undergraduate Life</h3>
				<p>Received my bechelor's degree in Electrical Engineering from Beijing Union University.</p>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-info">
				<span>August 17, 2015</span>
			</div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h3 class="timeline-title">Welcome to O'Hare International Airport</h3>
				<p>I came to the United States to conintue my graduate study becuase of the academic, cultrue, and lifestyle.</p>
			</div>
		</li>
		<li class="timeline-item period">
			<div class="timeline-info"></div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h2 class="timeline-title">2017</h2>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-info">
				<span>May 12, 2017</span>
			</div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h3 class="timeline-title">Got My Master's Degree</h3>
				<p>Graduated from Illinois Institute of Technology with master's degree in Computer Engineering.</p>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-info">
				<span>August 14, 2017</span>
			</div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h3 class="timeline-title">Software Developer in Thinkship, INC</h3>
				<p>Began my career as a Software Developer with an IT startup company in Chicago, IL. My responsibilities coverd the entire development life-cycle. We had created two SAAS products from scratch by using Angular 5, Ionic 3, Cordova, jQuery, Xcode, Android Studio, and so on. Tie Accounting was one of the Apps released in Apple Store and Google Play.</p>
			</div>
		</li>
		<li class="timeline-item period">
			<div class="timeline-info"></div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h2 class="timeline-title">2019</h2>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-info">
				<span>October 12, 2019</span>
			</div>
			<div class="timeline-marker"></div>
			<div class="timeline-content">
				<h3 class="timeline-title">Front End Developer in Insubuy, INC</h3>
				<p>Started my second job as a Front End Developer with a mid-size Insurance company in Plano, TX. I developed the new features and components for the public webiste and the intranet. The Frontend tech stack includes Vue.js, Thymeleaf, SCSS, jQuery, JSP, PHP, and so on.</p>
			</div>
		</li>
		<li class="timeline-item">
			<div class="timeline-info">
				<span>Present</span>
			</div>
			<div class="timeline-marker"></div>
			<div class="timeline-content"></div>
		</li>
	</ul>
</main>