<div class="main-content-wrap">
	<main class="main-content">
		<div class="gallery">
			<p>'All photos taken by Iphone8 & XT-10'</p>
			<div class="gallery__content">
				<figure class="shadow"><img src="../../assets/img/sights-1_tn.jpg" data-src="../../assets/img/sights-1.jpeg" id="sight-1" class="thumbnail" alt="sight 1"></figure>
				<figure class="shadow"><img src="../../assets/img/sights-2_tn.jpg" data-src="../../assets/img/sights-2.jpeg" id="sight-2" class="thumbnail" alt="sight 2"></figure>
				<figure class="shadow"><img src="../../assets/img/sights-3_tn.jpg" data-src="../../assets/img/sights-3.jpeg" id="sight-3" class="thumbnail" alt="sight 3"></figure>
				<figure class="shadow"><img src="../../assets/img/sights-4_tn.jpg" data-src="../../assets/img/sights-4.jpeg" id="sight-4" class="thumbnail" alt="sight 4"></figure>
				<figure class="shadow"><img src="../../assets/img/sights-5_tn.jpg" data-src="../../assets/img/sights-5.jpeg" id="sight-5" class="thumbnail" alt="sight 5"></figure>
				<figure class="shadow"><img src="../../assets/img/sights-6_tn.jpg" data-src="../../assets/img/sights-6.jpeg" id="sight-6" class="thumbnail" alt="sight 6"></figure>
				<figure class="shadow"><img src="../../assets/img/sights-7_tn.jpg" data-src="../../assets/img/sights-7.jpeg" id="sight-7" class="thumbnail" alt="sight 7"></figure>
				<figure class="shadow"><img src="../../assets/img/sights-8_tn.jpg" data-src="../../assets/img/sights-8.jpeg" id="sight-8" class="thumbnail" alt="sight 8"></figure>
			</div>
		</div>
	</main>
</div>