@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";
@import "../../assets/scss/base";

.main-content {
    @include mainContainer;

    .gallery {
        width: 20rem;
        margin: auto;
        padding-top: 5.5rem;
        perspective: 80rem;
        position: relative;

        @include screen-mlarge {
            width: 24rem;
        }

        &__content {
            width: 100%;
            position: absolute;
            animation: rotar 20s infinite linear;
            transform-style: preserve-3d;

            &:hover {
                animation-play-state: paused;
                cursor: pointer;
            }

            figure {
                width: 100%;
                height: 15rem;
                padding: 1px;
                overflow: hidden;
                position: absolute;
                background-image: linear-gradient(to right bottom, $color-primary--light, $color-primary--dark);

                &:nth-child(1) {
                    transform: rotateY(0deg) translateZ(25rem);
                }
                &:nth-child(2) {
                    transform: rotateY(45deg) translateZ(25rem);
                }
                &:nth-child(3) {
                    transform: rotateY(90deg) translateZ(25rem);
                }
                &:nth-child(4) {
                    transform: rotateY(135deg) translateZ(25rem);
                }
                &:nth-child(5) {
                    transform: rotateY(180deg) translateZ(25rem);
                }
                &:nth-child(6) {
                    transform: rotateY(225deg) translateZ(25rem);
                }
                &:nth-child(7) {
                    transform: rotateY(270deg) translateZ(25rem);
                }
                &:nth-child(8) {
                    transform: rotateY(315deg) translateZ(25rem);
                }

                @include screen-mlarge {
                    height: 18rem;

                    &:nth-child(1) {
                        transform: rotateY(0deg) translateZ(30rem);
                    }
                    &:nth-child(2) {
                        transform: rotateY(45deg) translateZ(30rem);
                    }
                    &:nth-child(3) {
                        transform: rotateY(90deg) translateZ(30rem);
                    }
                    &:nth-child(4) {
                        transform: rotateY(135deg) translateZ(30rem);
                    }
                    &:nth-child(5) {
                        transform: rotateY(180deg) translateZ(30rem);
                    }
                    &:nth-child(6) {
                        transform: rotateY(225deg) translateZ(30rem);
                    }
                    &:nth-child(7) {
                        transform: rotateY(270deg) translateZ(30rem);
                    }
                    &:nth-child(8) {
                        transform: rotateY(315deg) translateZ(30rem);
                    }
                }

                &:hover{
                    padding: 2px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    background: $bg-color;
                    //background-image: linear-gradient(to right bottom, $color-primary--light, $color-primary--dark);
                }

                .shadow {
                    position: absolute;
                    box-shadow: 0 0 2rem 0 #000;
                    border-radius: 2px;
                }

                .thumbnail{
                    width: 100%;
                    height: 100%;
                    filter: blur(4px);
                    transition: all .5s;
                }

                .complete{
                    filter: blur(0);
                }

            }

        }

    }
}

@keyframes rotar {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}