<div class="main-content-wrap">
	<main class="main-content">
		<!-- <div class="bg-video">
			<video width="100%" class="bg-video__content" playsinline autoplay muted loop onloadedmetadata="this.muted = true">
				<source src="../../assets/img/bg-video.mp4" type="video/mp4">
			</video>
		</div> -->
		<div class="posts-wrapper-static"></div>
		<div class="posts">
			<div class="posts__box">
				<div class="posts__box__side posts__box__side--front"></div>
				<div class="posts__box__side posts__box__side--back posts__box__side--back--1">
					<div class="story">
						<figure class="story__shape--1">
							<img src="../../assets/img/portrait.png" alt="portrait" class="story__shape--1--img">
							<figcaption class="story__caption">
								Boqian Wang
							</figcaption>
						</figure>

						<div class="story__text">
							<h2 class="story__text--left">Who I Am</h2>
							<p>Dream Chaser</p>
							<p>Front End Developer</p>
							<p>Hip Hop Addict</p>
							<p>Student Of Life</p>
							<p class="story__social-link">GET IN TOUCH!
								<!-- <a href="https://www.instagram.com/tyr_head/" target="_blank" class="story__text--social-link"><i class="fa fa-instagram" aria-hidden="true"></i></a> -->
								<a href="mailto:boqian9999@gmail.com?Subject=Hello Boqian" target="_top" class="story__text--social-link"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
								<a href="https://www.linkedin.com/in/boqian999/" target="_blank" class="story__text--social-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								<a href="https://github.com/boqian999" target="_blank" class="story__text--social-link"><i class="fa fa-github" aria-hidden="true"></i></a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="posts__box">
				<div class="posts__box__side posts__box__side--front"></div>
				<div class="posts__box__side posts__box__side--back posts__box__side--back--2">
					<div class="story story--wrap--2">
						<figure class="story__shape--2">
							<img src="../../assets/img/sights-1.jpeg" alt="sights 1" class="story__shape--2--img story__shape--2--p1">
							<img src="../../assets/img/sights-2.jpeg" alt="sights 2" class="story__shape--2--img story__shape--2--p2">
							<img src="../../assets/img/sights-3.jpeg" alt="sights 3" class="story__shape--2--img story__shape--2--p3">
						</figure>
						<div class="story__text story__text--2">
							<h2 class="story__text--right">'Hello World'</h2>
							<P>I am not a Tourist,<br>I am a Traveler</P>
							<P>I am not a Photographer<br>but I love photography</P>
							<a routerLink="/gallery" class="story__link"><span>Check out my gallery &rarr;</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="posts__box">
				<div class="posts__box__side posts__box__side--front"></div>
				<div class="posts__box__side posts__box__side--back">
					<div class="story story--wrap--3">
						<div class="story__text story__text--3">
							<h2 class="story__text--right">Front End Developer</h2>
							<p>Coding is an Art :)</p>
							<p><em>HTML</em> is my canvas,<br>I'ma use the <em>JavaScript</em> to<br> paint some <em>CSS</em> on it</p>
							<a routerLink="/about-me" class="story__link"><span>Learn more &rarr;</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="posts__box">
				<div class="posts__box__side posts__box__side--front"></div>
				<div class="posts__box__side posts__box__side--back">
					<div class="story__video-box">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLz0rDo3M_a7ej5KTyXTuAp50lcUh6wrU2" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
